@model IEnumerable<EntityLayer.ClienteBO>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORREO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { USER_ID=item.USER_ID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { USER_ID = item.USER_ID })
        </td>
    </tr>
}

</table>
